*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(255, 99, 71, 0.7);
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
    
    
    
}
h3{
    color: rgb(117, 113, 113);
}
section{
    background-color: rgb(255, 255, 255);
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
    box-shadow: 2px 2px 40px grey;

}

.top-players, .top-blogs, .courses{
    display: grid;
    grid-gap: 10px;
    place-items: center;
}
.top-players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.top-blogs{
    grid-template-columns: repeat(2, 1fr);
}
.player, .blog{
    display: flex;
    align-items: center;
    margin-top: 10px;  
}
.thumbnail img{
    width: 200px;
    height: 150px;
    margin-right: 1em;
}
.player img{
    width: 50px;
    margin-right: 20px;
}
.course img{
    width: 200px;
    height: 120px;
}
.courses, .top-blogs{
    padding: 1em;
}
.filled{
    color: goldenrod;
    font-size: .8em;
}
.unfilled{
    color: gray;
    font-size: .8em;
}
.course-info{
    display: flex;
}
.duration{
    margin-left: 10px;
}
@media (max-width:992px){
    .top-players, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .top-blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:668px){
    .top-players, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-blogs{
        display: block;
    }
}